.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--card-background);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: var(--text-color);
}

.sidebar-toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
}

.header-title {
  margin: 0 0 0 15px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  width: 100%;
}